:root {
  --primary-color: #fd7401;
  --secondary-color: #555555;
  --font-family: "Poppins", sans-serif;
  --background-color: #c2c2c2;
  --text-color: #1e2772;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  color: var(--text-color);
  /* overflow-x: hidden; */
}

.container {
  border-radius: 24px;
  background-color: #ffffff;
}

.form-col {
  background-color: #ffffff;
  box-shadow: 15px 0px 115px -1px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 15px 0px 115px -1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 15px 0px 115px -1px rgba(0, 0, 0, 0.54);
  position: relative;
  z-index: 100;
  
}
.btn {
  background-color: var(--primary-color);
  border: none;
}
.input-group-text {
  background-color: var(--primary-color);
}
.mobile_login {
  background: var(--background-color);
}
